* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    /* use border-box so that padding and border are included in the element's total width and height */
}

body {
    width: 100vw;
    height: 100vh;
    padding: 10vh 0;
    overflow: clip;   /*to prevent content from scrolling*/
}

.container {
    width: 50vw;
    height: 80vh;
    margin: 0 25vw;
    line-height: 0;    
}

img {
    width: 100%;
    height: 66vh;
}

button {
    border: none;
    padding: 0.7em 1.5em;
    width: 100%;
    height: 14vh;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #f4b400, #4cd137);
}

button:hover {
    background: linear-gradient(to right, #f48200, #25fb04);
    opacity: 0.8;
}